@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
/* body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: url("bg.png"), -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
} */

body{
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(3.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
::selection{
  color: #fff;
  background: #d43f8d;
}
.container{
  width: 350px;
  height: 500px;
  text-align: center;
  border-radius: 3px;
  padding: 50px 35px 10px 35px;
  overflow-y: scroll;
  background-image: linear-gradient(60deg,#0f1b29, #385f80,#7d5d8a);         
  border-color: #1b2e44;
  color: #301933;
}

.box_opr{
  font-size: 16px;
  padding: 10px;
  border: none;
  color: #91769c;
  border-radius: 8px;
  background:#41233d ;
  text-align: justify;
}

.but {
  border: none;
  outline: none;
  font-size: 22px;
  color: #41233d;
  cursor: pointer;
  background: #91769c ;

  height: 40px;
  width: 40px;
  border: 0px solid #1b2e44;
  border-radius: 100px;
  text-align: center;
}

.container header{
  font-size: 35px;
  font-weight: 600;
  margin: -30px 0 0px 0;
}
.container .form-outer{
  width: 100%;
  overflow: hidden;
}
.container .form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field{
  width: 330px;
  height: 45px;
  margin: 37px 0;
  display: flex;
  position: relative;
}
form .page .field .label{
  position: absolute;
  top: -30px;
  font-weight: 500;
  font-size: 16px
}
form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid #1b2e44;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 15px;

  color: #91769c;
  border-radius: 8px;
  background:#41233d;
  text-align: center;
}
form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
}
form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #7d5d8a;
  margin-top: -20px;
  border-radius: 5px;
  color: #301933;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover{
  background: #41233d83;
}
form .page .btns button{
  margin-top: -20px!important;
}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container .progress-bar{
  display: flex;
  margin: 30px 0;
  user-select: none;
}
.container .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 18px;
  color: #301933;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 23px;
  width: 23px;
  border: 2px solid #301933;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}
.progress-bar .step .bullet.active{
  border-color: #7d5d8a;
  background: #7d5d8a;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -144px;
  height: 3px;
  width: 144px;
  background: #262626;
}
.progress-bar .step .bullet.active:after{
  background: #7d5d8a;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #93769f;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
